$off-black: #20222b;
$dark-blue: #333745;
$blue: #061a4b;
$light-blue:#4b5168;
$off-white: #a5afd7;
$purple: #7e4acc;
$m-size: 1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$s-size: 1.2rem;
$desktop-breakpoint: 45rem;